<div id={{concat "step" @letter}} class={{concat "step step" @letter " karat " @classColor}}>
  <div class="step__label">{{@letter}}</div>
  {{@step.[0]}}<br />
  x {{@step.[1]}}
  <hr />
  {{@stepResult}}

{{#if @isDouble}} <BceButton @level={{@bcelevel}} @letter="B" @calculate={{fn @calculate null @step (get @bcelevel 1) null}}></BceButton>{{/if}}
</div>
