<main data-ember-version="{{this.emberVersion}}">
  <Instructions />
  <Calculator
    @calculate={{this.calculate}}
    @num01={{this.num01}}
    @num02={{this.num02}}
  />
  <div id="steps" class="steps inactive">
    {{#each this.figures as |figure|}}
      <div class={{concat "steps__row steps__row" figure.level}}>
        <StepSavings
          @numsInput={{array (get figure.numsInput 0) (get figure.numsInput 1)}}
          @stepSavings={{figure.stepSavings}}
        />
        <Figure
          @level={{figure.level}}
          @steps={{figure.steps}}
          @divider={{figure.divider}}
          @resultF={{resultF
            (multiply (get figure.steps.b 0) (get figure.steps.b 1))
            (multiply (get figure.steps.c 0) (get figure.steps.c 1))
            (multiply (get figure.steps.e 0) (get figure.steps.e 1))
          }}
          @levelAmount={{this.figures.length}}
          @calculate={{this.calculate}}
          @stepSavings={{figure.stepSavings}}
        />
      </div>
    {{/each}}
  </div>
</main>