<main
  id="ember-welcome-page-id-selector"
  data-ember-version="{{this.emberVersion}}"
>
  <Instructions
    @calculate={{this.calculate}}
    @num01={{this.num01}}
    @num02={{this.num02}}
  />
  <div id="steps" data-karatsuba-target="steps" class="steps inactive">
    {{#each this.figures as |figure|}}
      <Figure
        @level={{figure.level}}
        @steps={{figure.steps}}
        @stepsR={{figure.stepsR}}
        @divider={{figure.divider}}
        @result={{result figure.stepsR}}
        @levelAmount={{this.figures.length}}
        @calculate={{this.calculate}}
        @stepSavings={{figure.stepSavings}}
        @numsInput={{figure.numsInput}}
      />
    {{/each}}
  </div>
</main>