    <div id="stepG" class="step stepG blue">
      <div class="step__label">G</div>
      {{@stepsR.[0]}}<span class="zeros">{{trailingZeros @divider 2}}</span
      ><br />
      + {{@result}}<span class="zeros"
        >{{trailingZeros @divider}}</span
      ><br />
      + {{@stepsR.[1]}}
      <hr />
      <!--
      testjpf
      you need better naming conventions  -->
      <span id="result">{{resultPrint @stepsR @divider}}</span>
      <br />
    </div>